
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1, h2, h3 {
  font-weight: bold;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between; /* Change from space-around to space-between */
  padding: 20px;
}

@media (max-width: 768px) {
  .product-list {
    flex-direction: column;
    align-items: center;
  }
}

/* Mobile First Approach */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

@media (max-width: 768px) {
  .product-detail {
    flex-direction: column;
    padding: 20px;
  }

  .product-detail-image img {
    width: 100%;
  }

  .product-detail-info {
    margin-left: 0;
  }

  .product-item {
    font-size: 14px;
  }

  /* Adjust CartItem layout for smaller screens */
  .cart-item {
    flex-direction: column;
    align-items: center;
  }
}