.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 40px 20px;
  background-color: #033043;
  color: white;
}

.hero .text-container {
  max-width: 50%;
  text-align: left;
  padding-right: 20px;
  animation: fadeIn 1s ease-in-out;
}

.hero .image-container {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  animation: scaleIn 1.5s ease-in-out;
}

.hero-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #FDA521;
}

.hero-content p {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #E9E3D5;
}

.btn-cta {
  padding: 15px 30px;
  background-color: #FDA521;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 30px;
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-cta:hover {
  background-color: #0A7273;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
